@font-face {
    font-family: "IRANYekanX";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/Font/IRANYekanXFaNum-Regular.woff") format("woff");

}
@font-face {
    font-family: "IRANYekanX";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/Font/IRANYekanXFaNum-Bold.woff") format("woff");

}

body,
button{
    font-family: "IRANYekanX";
}
